<!DOCTYPE html>
<html>
<head>
	<title>Main Django Project Page</title>
	<style>
		#title{
			position: relative;
			text-align:  center;
			padding: 1em;
		}
		body{
			margin: 0;
			position: relative;
			background-color: #4d94ff;
		}
		#sec1{
			position: relative;
			top: 2em;
			left:6em;
			height: 33em;
			width: 85% ;
			background-color: #99c2ff;
		}
	</style>
</head>

<body>
<form action="#" method="GET" id="form1">
<section id="sec1">

<h2 id="title">Djano project</h2>
<hr>
</section>
</body>
</html>