<!DOCTYPE html>
<html>
<head>
	<title>Inserting the data one at A time</title>
	<link rel="stylesheet" type="text/css" href="/static/oneByOne.css">

</head>
<body>

	<section id="sec1">
	<form action="http://localhost:8000/elastic/api/oneByOneInput/" method="GET">
		<h2 id="title">Djano project</h2>
		<hr>
		<p class="names">Index Name:<input type="text" name="indexNamePath" class="refPath"></p> 
		<p class="names">Data in Json:<input type="text" name="jsonObj" class="refPath">  </p> 
		<input type="submit" value="submit" id="GoLoad">
		</form>
		</section>
</body>
</html>